if SHIELD_BIBA40_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Biba40"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BIBA40_LEFT || SHIELD_BIBA40_RIGHT

config ZMK_SPLIT
    default y

endif

# Mouse support
CONFIG_ZMK_POINTING=y
CONFIG_ZMK_MOUSE=y
CONFIG_ZMK_MOUSE_BUTTONS=y
CONFIG_ZMK_HID_REPORT_MOUSE=y
CONFIG_ZMK_HID_REPORT_KEYBOARD=y
CONFIG_ZMK_HID_BOOT_PROTOCOL=y

# Optional USB support
CONFIG_ZMK_USB=y
CONFIG_ZMK_USB_HID_STUDIO=y
CONFIG_ZMK_RPC=y
CONFIG_ZMK_RPC_USB=y
CONFIG_ZMK_RPC_UART=y

CONFIG_ZMK_STUDIO=y
